<html>
  <%# <head>
    <title>Stupid Coaching</title>
  </head> %>

  <body>
    <h1>Stupid Coaching</h1>
    <p> Your question : <%= @question %></p>
    <p> Coach's answer : <%= @answer %></p>
  </body>
</html>
